.header
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  width: fill-available
  padding: 1em
  color: $textColor
  background-color: $header
  .job
    font-weight: 900
  .navbar
    & span
      font-weight: 500
      margin: 1em
      padding: 0.2em
      &:hover
        text-decoration: underline